<div class="container">
  <h1>{{title}}</h1>
  <div class="inputs">
    <div class="from">
      <label for="">Numero</label>
      <input type="text" (ngModelChange)="sendToConvert($event)"
      #nameInput="ngModel" [(ngModel)]="input">
      <select (change)="changeBase($event)" size="7">
        <option [value]="item" *ngFor="let item of bases">
          Base : {{item}}</option>
      </select>
    </div>

    <div class="to">
      <label for="">Resultado</label>
      <div class="result">
        <label for="" >
          {{number}}
        </label>
      </div>
      <select (change)="changeBaseConvert($event)" size="7">
        <option [value]="item" *ngFor="let item of bases">
          Base :{{item}}</option>
      </select>
    </div>
  </div>
  <footer>
    <button (click)="clear()">CLEAR</button>
  </footer>
  <h2>Resultado : {{number}}</h2>
</div>

<router-outlet></router-outlet>
