<div class="container">
  <div class="title">
    <h1>{{title}}</h1>
  </div>

  <div class="inputs">
    <div class="from">
      <h4>
      Numero
      </h4>
        <input type="text"[ngStyle]="{'color':checkIncorrectNumber()?'black':'red'}"
        (ngModelChange)="sendToConvert($event)"
        #nameInput="ngModel" [(ngModel)]="input"/>
      <select (change)="changeBase($event)" size="7">
        <option [value]="item" *ngFor="let item of bases">
          Base : {{item}}</option>
      </select>
    </div>

    <div class="to">

      <h4>
        Resultado
      </h4>
      <div class="result">
        {{number}}
      </div>
      <select (change)="changeBaseConvert($event)" size="7">
        <option [value]="item" *ngFor="let item of bases">
          Base :{{item}}</option>
      </select>
    </div>
  </div>
  <div class="button">
    <button (click)="clear()">Resetear Valores</button>
  </div>
  <h3>Resultado : {{result}}</h3>
</div>

<router-outlet></router-outlet>
